body {
    background-color: rgb(195, 240, 255);
}

.calculator {
    width: 300px;
    height: auto;
    background-color: #fff;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 10px 15px rgba(0,0,0,0.3);
}

.calculator-screen {
    padding: 30px 10px 20px;
    font-size: 34px;
    text-align: right;
    outline: none;
    border: none;
    background-color: white;
}

.calculator-keys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    
}

button {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    margin: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    user-select: none;
    
}

.operator.bagi {
    background-color: #20b2aa;
}

.operator.kali {
    background-color: #ffa500;
}

.operator.kurang {
    background-color: #f08080;
}

.operator.tambah {
    background-color: #7d93e0;
}

.equal-sign {
    background-color: #9477af;
}

.number, .empety, .decimal {
    background-color: transparent;
}

.decimal {
    font-weight: 700;
}
